* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
}
.main-block{
    background: #fdfdfd;
}
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    justify-content: flex-start;
    position: relative;
}

.navigate-button-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
}

.navigate-button {
    width: 100%;
    padding: 13px;
    background-color: #878787;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

.navigate-button:hover {
    background-color: #5e5e5e;
}

.navigate-button:focus {
    outline: none;
}
