.boost-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background: #fdfdfd;
}

.boost-page h2 {
    margin-top: 20px;
}