.sidebar-container {
    width: 20%;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 99;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}

.category.selected {
    background-color: #f0f0f0;
    border-color: #bbb;
}

.category:hover {
    background-color: #e0e0e0;
}
