.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background-color: var(--tg-theme-secondary-bg-color);
}

.start-page h2 {
    margin-top: 20px;
    color: var(--tg-theme-text-color);
}